/* Main Socket Client Styles */

html {
    height: 100%;
}
body {
    font: 13px Helvetica, Arial;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
}

.page {
    width: 100%;
    height: 100%;
}

.car {
    border: 1px solid #515151;
    width: 486px;
    height: 600px;
    padding: 10px;
}
/* Messages */

.messages-header {
    padding: 10px;
    border-bottom: 2px #ccc solid;
}

.messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.message {
    padding: 5px 10px;
}
.message:nth-child(odd) {
    background: #eee;
}
